.bg-inline-blue{
    color: #ffffff;
    background-color: #EEA520;
}

.gap{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.textwidth{
    width: 100%;
}
.custom-card {
    height: 328px; /* Adjust to your preferred height */
    overflow: hidden; /* Ensure content doesn't overflow */
  }

  .address-custom-card {
    height: 328px; /* Adjust to your preferred height */
    overflow: hidden; /* Ensure content doesn't overflow */
  }
.bg-inline-green{
    color: #EEA520;
    background-color: rgb(238, 165, 32, 10%);
}
.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover; 
    margin: 10px;
    border-radius: 50%;
  }

.customerstyling{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1rem;
    padding: 8px;
    background-color: rgba(238, 165, 32, 0.05);
}

.AddressStyling{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(238, 165, 32, 0.05);
    padding: 8px;
    font-size: 1rem;
}

.imagedesign{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-card .p-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 18rem; */
    padding: 1rem;
}
/* Card Height */
.p-card {
    height: 100%;
}

.order{
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between;  
}

#order{
    font-size: 1.25rem; 
    font-weight: 900;
}

#logo{
    width: 100%;
}

.ordercards{
    display: flex;
    flex-direction: column;
    gap: 1rem;   
}

.documentstyling{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1rem;
    padding: 8px;
}

.orderstatus{
    display: flex;
}

.thumbnail {
    width: 70px;
    height: 60px;
  }
  .bold-text {
    font-weight: bold;
  }
  