<li class="nav-item dropdown" dropdown>
    
    <div class="nav-link">
        <i class="fa-solid fa-calendar-days"></i>    
        <i class="fa-solid fa-envelope"></i> 
        <i class="fa-solid fa-bell"></i>
        <a href="javascript:;" dropdownToggle>          
            <i class="d-inline-block {{ currentLanguage.icon }}"></i>
        </a>
    </div>

   
  <div class="dropdown-menu dropdown-menu-right p-0" *dropdownMenu>
      @for (language of languages; track language) {
          @if (language.name != currentLanguage.name) {
              <a class="dropdown-item" href="javascript:;" (click)="changeLanguage(language.name)">
                  <!-- Language Icon -->
                  <i class="d-inline-block {{ language.icon }} mr-1"></i>
                  {{ language.displayName }}
              </a>
          }
      }
  </div>
</li>
