<div >
  <div class="d-flex align-items-start">
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column nav-flat"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
      >
      @for (item of menuItems; track item) {
        <ng-container
          *ngTemplateOutlet="sidebarInner; context: { item: item }"
        ></ng-container>
      }
    </ul>
  </nav>
</div>

<div class="d-flex align-items-end">
    <div style="display: flex; flex-direction: column; gap: 16px; width: 200px; margin: auto;">
      <!-- Contact Support Button -->
      <button style="display: flex; align-items: center;  justify-content: start; background-color: #F8F9FA; border: none; border-radius: 8px; padding: 12px 16px; font-size: 16px; font-family: Arial, sans-serif; color: #212529; cursor: pointer;">
        <span style="margin-right: 8px;">
          <img src="../../assets/img/contact.svg" height="24" width="24" alt="Logout Icon">
    
        </span>
        Contact Support
      </button>
     
      <button  (click)="logout()" style="display: flex; align-items:end; justify-content: start; background-color: #FDECEC; border: none; border-radius: 8px; padding: 12px 16px; font-size: 16px; font-family: Arial, sans-serif; color: #D9534F; cursor: pointer; ">
        <span style="margin-right: 8px;">
          <img src="../../assets/img/logout icon.svg" height="24" width="24" alt="Logout Icon">
        </span>
        Logout
      </button>
    </div>
  </div>
    
</div>


<ng-template #sidebarInner let-item="item">
  @if (isMenuItemVisible(item)) {
    <li
      class="nav-item"
      [class.menu-open]="!item.isCollapsed"
      [class.has-treeview]="item.children"
      >
      @if (item.route && item.route.indexOf('http') != 0) {
        <a
          class="nav-link"
          [routerLink]="item.route"
          [class.active]="item.isActive"
          >
          <i class="nav-icon {{ item.icon }}" [ngStyle]="{'color': item.iconColor}"></i>
          <p>
            {{ item.label }}
          </p>
        </a>
      }
      @if (item.route && item.route.indexOf('http') == 0 && !item.children) {
        <a
          class="nav-link"
          [class.active]="item.isActive"
          target="_blank"
          [href]="item.route"
          >
          <i class="nav-icon {{ item.icon }}"></i>
          <p>
            {{ item.label }}
          </p>
        </a>
      }
      @if (!item.route && item.children) {
        <a
          class="nav-link"
          href="javascript:;"
          [class.active]="item.isActive"
          (click)="item.isCollapsed = !item.isCollapsed"
          >
          <i class="nav-icon {{ item.icon }}"></i>
          <p>
            {{ item.label }}
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
      }
      @if (item.children) {
        <ul
          class="nav nav-treeview"
          [collapse]="item.isCollapsed"
          [isAnimated]="true"
          >
          @for (item of item.children; track item) {
            <ng-container
              *ngTemplateOutlet="sidebarInner; context: { item: item }"
            ></ng-container>
          }
        </ul>
      }
    </li>
  }
</ng-template>