<section class="content-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <h1 class="mr-3">
          {{ "Category" | localize }}<app-breadcrumb></app-breadcrumb>
        </h1>
      </div>

      <div class="col-md-6 text-right gap">
        <a
          href="javascript:;"
          (click)="ExportFile()"
          class="btn bg-outline-blue"
        >
          <i class="fas fa-download"></i>
          {{ "Export" | localize }}
        </a>
        <a
          href="javascript:;"
          class="btn bg-inline-blue"
          [routerLink]="['create-category']"
        >
          <i class="fa fa-plus-square"></i>
          {{ "Add Category" | localize }}
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card p-2">
        <div class="row justify-content-end">
          <div class="col-md-6 d-flex justify-content-end">
            <div class="row">
              <div class="col-md-6">
                <p-iconField iconPosition="left">
                  <p-inputIcon
                    styleClass="fas fa-search"
                    (click)="onsearch()"
                  />
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="keyword"
                    style="width: 100%"
                    placeholder="Search..."
                    (keyup.enter)="onsearch()"
                  />
                </p-iconField>
              </div>

              <!-- Calendar -->
              <div class="col-md-6">
                <p-calendar
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  inputId="icondisplay"
                  [numberOfMonths]="1"
                  selectionMode="range"
                  class="py-1 px-1 calendar-small"
                  placeholder="Select Date..."
                  [(ngModel)]="dateRange"
                  (onClose)="onDateSearch()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content px-2">
  <div class="card">
    <table>
      <thead>
        <tr>
          <th>Category Name</th>
          <th>ID</th>
          <th>Sold</th>
          <th>Stock</th>
          <th>Added</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for ( cat of allCategories | paginate : { id: 'server', itemsPerPage:
        pageSize, currentPage: pageNumber, totalItems: totalItems } ; track
        cat.id) {
        <tr>
          <td>
            <div style="display: flex; align-items: center">
              <ng-container *ngIf="cat.thumbnail; else showIcon">
                <img
                  [src]="'data:image/jpeg;base64,' + cat.thumbnail"
                  alt="Product Thumbnail"
                  class="thumbnail"
                />
              </ng-container>
              <ng-template #showIcon>
                <i class="fa-regular fa-image imageicon"></i>
              </ng-template>
              <span>
                {{ cat.name }} <br />
                <small style="color: gray">
                  {{ cat.description }}
                </small></span
              >
            </div>
          </td>
          <td>{{ cat.id }}</td>
          <td>{{ cat.sold }}</td>
          <td>{{ cat.quantity }}</td>
          <td>{{ cat.creationtime.toDate() | date : "dd MMM yyyy" }}</td>
          <td class="buttonstyling">
            <button type="button" (click)="editcategory(cat)">
              <i class="fas fa-pencil-alt colorsetting"></i>
            </button>
            <button type="button" class="px-1" (click)="viewCategory(cat)">
              <i class="fas fa-eye colorsetting"></i>
            </button>
            <!-- <button type="button" (click)="delete(cat)">
              <i class="fas fa-trash colorsetting"></i>
            </button> -->
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer table-card-footer bg-light border-top">
    <div class="row">
      <div class="col-sm-4 col-12 text-sm-left text-center">
        <p style="color: gray">
          Showing {{ firstShowingItem }} - {{ lastShowingItems }} FROM
          {{ totalItems }}
        </p>
      </div>
      <div class="col-sm-4 col-12 text-center">
        <p class="mb-0 my-2"></p>
      </div>
      <div class="col-sm-4 col-12">
        <div class="float-sm-right m-auto">
          <abp-pagination-controls
            id="server"
            (pageChange)="getDataPage($event)"
          >
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
