<div [@routerTransition]>
  <section class="content-header">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3 mt-2">
                  <!-- <p-card> -->
                  <!-- <div class="cardstyle">
                          <img src="../../assets//img/dashboardicons/TotalOrderIcon.svg" />
                          <div>
                              Total Orders
                          </div>
                          <div>
                              76,500
                          </div>
                      </div> -->
                  <div class="maindiv">
                      <div class="backgrounddiv">
                          <div class="imagediv">
                              <img src="../../assets//img/dashboard/fi-sr-money.svg" alt="Icon"
                                  style="width: 18px; height: 18px;" />
                          </div>
                      </div>
                      <div class="maintextdiv">
                          <div class="textdiv">Total Revenue</div>
                          <div class="contentdiv">
                              <div class="contentvalue">75,500</div>
                              <div class="contentposition">+10%</div>
                          </div>
                      </div>
                      <div class="areadiv5part3"></div>
                      <div class="areadiv5part2"></div>
                      <div class="areadiv5part1"></div>
                      <div class="areadiv5"></div>
                      <div class="areadiv"></div>
                  </div>

                  <!-- </p-card> -->
              </div>
              <div class="col-md-3 mt-2">
                  <div class="maindiv">
                      <div class="backgrounddiv">
                          <div class="imagediv">
                              <img src="../../assets//img/dashboard/fi-sr-credit-card.svg" alt="Icon"
                                  style="width: 18px; height: 18px;" />
                          </div>
                      </div>
                      <div class="maintextdiv">
                          <div class="textdiv">Total Order</div>
                          <div class="contentdiv">
                              <div class="contentvalue">1376</div>
                              <div class="contentposition">+15%</div>
                          </div>
                      </div>
                      <div class="areadiv5part3"></div>
                      <div class="areadiv5part2"></div>
                      <div class="areadiv5part1"></div>
                      <div class="areadiv5"></div>
                      <div class="areadiv3"></div>
                      <div class="areadiv3part"></div>
                  </div>
              </div>
              <div class="col-md-3 mt-2">
                  <div class="maindiv">
                      <div class="backgrounddiv">
                          <div class="imagediv">
                              <img src="../../assets//img/dashboard/fi-sr-user-add.svg" alt="Icon"
                                  style="width: 18px; height: 18px;" />
                          </div>
                      </div>
                      <div class="maintextdiv">
                          <div class="textdiv">Total Customer</div>
                          <div class="contentdiv">
                              <div class="contentvalue">322</div>
                              <div class="contentposition">-25%</div>
                          </div>
                      </div>
                      <div class="areadiv5part3"></div>
                      <div class="areadiv5part2"></div>
                      <div class="areadiv5part1"></div>
                      <div class="areadiv5"></div>
                      <div class="areadiv2"></div>
                  </div>
              </div>
              <div class="col-md-3 mt-2">
                  <div class="maindiv">
                      <div class="backgrounddiv">
                          <div class="imagediv">
                              <img src="../../assets//img/dashboard/fi-sr-box.svg" alt="Icon"
                                  style="width: 18px; height: 18px;" />
                          </div>
                      </div>
                      <div class="maintextdiv">
                          <div class="textdiv">Total Product</div>
                          <div class="contentdiv">
                              <div class="contentvalue">247</div>
                              <div class="contentposition">0%</div>
                          </div>
                      </div>
                      <div class="areadiv5part3"></div>
                      <div class="areadiv5part2"></div>
                      <div class="areadiv5part1"></div>
                      <div class="areadiv5"></div>
                      <div class="areadiv4"></div>
                      <div class="areadiv4part"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="content-header">
      <div class="container-fluid">
          <p-card>
              <!-- <p-chart type="line" [data]="data" [options]="options" class="h-[30rem]" /> -->
               Statistics
          </p-card>
      </div>
  </section>
  <section class="content-header">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <p-card>
                      <div class="row">
                          <div class="col-md-6">
                              Recent Orders
                          </div>
                          <div class="col-md-6">
                              <!-- <div class="sort">
                                  <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                                  class="py-1 px-2" placeholder="Select Date" />
                                  <p-iconField iconPosition="left">
                                      <p-inputIcon styleClass="fas fa-search" />
                                      <input type="text" pInputText placeholder="Search" class="py-1.2" style="width: 8rem;" />
                                  </p-iconField>
                                  <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value" />
                              </div> -->
                          </div>
                      </div>
                  </p-card>
              </div>
              <div class="col-md-4">
                  <p-card>
                      Customer Growth
                  </p-card>
              </div>
          </div>
      </div>
  </section>
</div>