<!-- <div class="wrapper">

  <sidebar></sidebar>   
  <app-header></app-header>
  <div class="container-fluid">    
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div id="sidebar-overlay" (click)="toggleSidebar()"></div>
</div> -->
<div class="container-fluid">
  <div class="card flex  ml-0">
    <app-header></app-header>
    <!-- <p-card>
        <p class="m-0">
          <app-header></app-header>
        </p>
    </p-card> -->
</div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div id="sidebar-overlay" (click)="toggleSidebar()"></div>
</div>
 