.bg-inline-blue{
    color: #ffffff;
    background-color: #EEA520;
}
 
.gap{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
 
.textwidth{
    width: 100%;
}
/* Card Height */
.p-card {
    height: 100%;
}


/* Card Container */
.card {
    width: 463px;
   height: 413px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .card-header {
    padding: 16px;
    border-bottom: 1px solid #eee;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .card-subtitle {
    font-size: 14px;
    color: #777;
    margin: 0;
  }
  
  /* Drag-and-Drop Upload Section */
  .drag-drop-container {
    position: relative;
    width: 90%;
    height: 180px;
    margin: 16px auto;
    border: 2px dashed #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #888;
    background-color: #fafafa;
  }
  
  .placeholder-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .upload-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
  }
  
  .placeholder-text {
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .add-image-button {
    background-color: #eea5201a;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    border: 1px solid #eea520;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-image-button:hover {
    background-color: #eea520;
    color: #fff;
  }
  
  /* Image Preview */
  .image-preview {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: none;
    color: #ff0000;
    font-size: 16px;
    line-height: 16px;
    padding: 2px 6px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  