<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mt-2">
          <div class="maindiv">
            <div class="backgrounddiv">
              <div class="imagediv">
                <img
                  src="../../assets//img/dashboard/fi-sr-money.svg"
                  alt="Icon"
                  style="width: 18px; height: 18px"
                />
              </div>
            </div>
            <div class="maintextdiv">
              <div class="textdiv">Total Revenue</div>
              <div class="contentdiv">
                <div class="contentvalue">${{ revenueData?.totalRevenue }}</div>
                <!-- <div class="contentposition">+10%</div> -->
              </div>
            </div>
            <div class="areadiv5part3"></div>
            <div class="areadiv5part2"></div>
            <div class="areadiv5part1"></div>
            <div class="areadiv5"></div>
            <div class="areadiv"></div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="maindiv">
            <div class="backgrounddiv">
              <div class="imagediv">
                <img
                  src="../../assets//img/dashboard/fi-sr-credit-card.svg"
                  alt="Icon"
                  style="width: 18px; height: 18px"
                />
              </div>
            </div>
            <div class="maintextdiv">
              <div class="textdiv">Total Order</div>
              <div class="contentdiv">
                <div class="contentvalue">{{ revenueData?.totalOrder }}</div>
                <!-- <div class="contentposition">+15%</div> -->
              </div>
            </div>
            <div class="areadiv5part3"></div>
            <div class="areadiv5part2"></div>
            <div class="areadiv5part1"></div>
            <div class="areadiv5"></div>
            <div class="areadiv3"></div>
            <div class="areadiv3part"></div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="maindiv">
            <div class="backgrounddiv">
              <div class="imagediv">
                <img
                  src="../../assets//img/dashboard/fi-sr-user-add.svg"
                  alt="Icon"
                  style="width: 18px; height: 18px"
                />
              </div>
            </div>
            <div class="maintextdiv">
              <div class="textdiv">Total Customer</div>
              <div class="contentdiv">
                <div class="contentvalue">{{ revenueData?.totalCustomer }}</div>
                <!-- <div class="contentposition">-25%</div> -->
              </div>
            </div>
            <div class="areadiv5part3"></div>
            <div class="areadiv5part2"></div>
            <div class="areadiv5part1"></div>
            <div class="areadiv5"></div>
            <div class="areadiv2"></div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="maindiv">
            <div class="backgrounddiv">
              <div class="imagediv">
                <img
                  src="../../assets//img/dashboard/fi-sr-box.svg"
                  alt="Icon"
                  style="width: 18px; height: 18px"
                />
              </div>
            </div>
            <div class="maintextdiv">
              <div class="textdiv">Total Product</div>
              <div class="contentdiv">
                <div class="contentvalue">{{ revenueData?.totalProducts }}</div>
                <!-- <div class="contentposition">0%</div> -->
              </div>
            </div>
            <div class="areadiv5part3"></div>
            <div class="areadiv5part2"></div>
            <div class="areadiv5part1"></div>
            <div class="areadiv5"></div>
            <div class="areadiv4"></div>
            <div class="areadiv4part"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-header">
    <div class="container-fluid">
      <p-card>
        <b>Statistics</b>
        <p>Revenue and Sales</p>
        <p-chart
          type="line"
          [data]="data"
          [options]="options"
          class="h-[40rem]"
        />
      </p-card>
    </div>
  </section>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <!-- Table Section -->
        <div class="col-md-8">
          <p-card>
            <div class="row">
              <div class="col-12">
                <h5 class="mb-3" style="font-weight: 600">Recent Orders</h5>

                <div class="table-container">
                  <div class="table-responsive">
                    <table class="table no-vertical-lines">
                      <thead>
                        <tr>
                          <th scope="col">Order ID</th>
                          <th scope="col">Products</th>
                          <th scope="col">Date</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Total</th>
                          <th scope="col">Payment</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for ( order of AllOrder | paginate : { id: 'server',
                        itemsPerPage: pageSize, currentPage: pageNumber,
                        totalItems: totalItems } ; track order.orderID){
                        <tr>
                          <td style="color: #eea520; font-weight: 800">
                            {{ order.orderID }}
                          </td>
                          <td>
                            <img
                              [src]="
                                'data:image/jpeg;base64,' +
                                order.productThumbnail
                              "
                              alt="Product Thumbnail"
                              class="thumbnail"
                            />
                            + {{ order.productsCount }}
                          </td>
                          <td>
                            {{ order.creationDate.format("DD MMM YYYY") }}
                          </td>
                          <td>{{ order.customerName }}</td>
                          <td>{{ order.totalAmount | currency : "USD" }}</td>
                          <td>{{ order.paymentType }}</td>
                          <td>
                            <span
                              [ngClass]="getStatusClass(order)"
                              [style.background-color]="getStatusColor(order)"
                            >
                              {{ getStatusLabel(order) }}
                            </span>
                          </td>
                          <td>
                            <i
                              (click)="viewOrderDetails(order)"
                              class="fas fa-eye colorsetting"
                              style="cursor: pointer"
                            ></i>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top">
                  <div class="row">
                    <div class="col-sm-4 col-12 text-sm-left text-center">
                      <p style="color: gray">
                        Showing {{ firstShowingItem }} -
                        {{ lastShowingItems }} FROM {{ totalItems }}
                      </p>
                    </div>
                    <div class="col-sm-4 col-12 text-center">
                      <p class="mb-0 my-2"></p>
                    </div>
                    <div class="col-sm-4 col-12">
                      <div class="float-sm-right m-auto">
                        <abp-pagination-controls
                          id="server"
                          (pageChange)="getDataPage($event)"
                        ></abp-pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-card>
        </div>
        <!-- Customer Growth Section -->
        <div class="col-md-4">
          <div class="card custom-card">
            <div class="card-body">
              <img src="../../assets/img/Cust Growth.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
