
.bg-outline-blue{
    background-color: rgb(238, 165, 32, 10%);
    color: #EEA520;
}

.bg-outline-blue:hover{
    color: #ffffff;
    background-color: #EEA520;
}

.searching{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.p-calendar .p-inputtext {
    flex: 1 1 auto;
    width: 10rem;
    text-overflow: ellipsis;
}

.p-datepicker {
    padding: 0.2rem;
}
.p-calendar .p-datepicker {
    min-width: 100%;
    left: -302.667px !important;
    padding-right: 0.7rem;
}