
<div class="row">
  <div class="col-md-6">
    <p-card>
      <img
  src="assets/img/login.png"
  alt="Logo"
  class = "img-style"
/> 
    </p-card>
  </div>
  <div class="col-md-6">
    <div class="login-box">
     
      <div class="card">             
        <div class="card-body login-card-body">
          <account-header></account-header>    
          <p >Welcome to Fynest</p>
          <router-outlet></router-outlet>
        </div>        
        <div class="card-footer">     
          <div class="d-flex justify-content-center" >
            <img src = "../../assets/img/googlelogos.svg">
            </div>     
        </div>
      </div>
      <account-footer></account-footer>
    </div>
  </div>
</div>
